<div class="personalInfo flexrow flex-group-center">
  <label for="system.codename.value" class="resource-label rollable flexlarge align-left" data-label="CodeName">CodeName</label>
  <input type="text" name="{{system.codename.value}}" value="{{system.codename.value}}" data-dtype="String"/>
</div>
<div class="personalInfo flexrow flex-group-center">
  <label for="system.realname.value" class="resource-label rollable flexlarge align-left" data-label="Real Name">Real Name</label>
  <input type="text" name="{{system.realname.value}}" value="{{system.realname.value}}" data-dtype="String"/>
</div>
<div class="personalInfo flexrow flex-group-center">
  <label for="system.height.value" class="resource-label rollable flexlarge align-left" data-label="height">Height</label>
  <input type="text" name="{{system.height.value}}" value="{{system.height.value}}" data-dtype="String"/>
</div>
<div class="personalInfo flexrow flex-group-center">
  <label for="system.weight.value" class="resource-label rollable flexlarge align-left" data-label="weight">Weight</label>
  <input type="text" name="{{system.weight.value}}" value="{{system.weight.value}}" data-dtype="String"/>
</div>
<div class="personalInfo flexrow flex-group-center">
  <label for="system.gender.value" class="resource-label rollable flexlarge align-left" data-label="gender">Gender</label>
  <input type="text" name="{{system.gender.value}}" value="{{system.gender.value}}" data-dtype="String"/>
</div>
<div class="personalInfo flexrow flex-group-center">
  <label for="system.eyes.value" class="resource-label rollable flexlarge align-left" data-label="eyes">Eyes</label>
  <input type="text" name="{{system.eyes.value}}" value="{{system.eyes.value}}" data-dtype="String"/>
</div>
<div class="personalInfo flexrow flex-group-center">
  <label for="system.hair.value" class="resource-label rollable flexlarge align-left" data-label="hair">Hair</label>
  <input type="text" name="{{system.hair.value}}" value="{{system.hair.value}}" data-dtype="String"/>
</div>
<div class="personalInfo flexrow flex-group-center">
  <label for="system.size.value" class="resource-label rollable flexlarge align-left" data-label="size">Size</label>
  <input type="text" name="{{system.size.value}}" value="{{system.size.value}}" data-dtype="String"/>
</div>
<div class="personalInfo flexrow flex-group-center">
  <label for="system.distinguishingFeatures.value" class="resource-label rollable flexlarge align-left" data-label="distinguishingFeatures">Distinguishing Features</label>
  <input type="text" name="{{system.distinguishingFeatures.value}}" value="{{system.distinguishingFeatures.value}}" data-dtype="String"/>
</div>
<div class="personalInfo flexrow flex-group-center">
  <label for="system.teams.value" class="resource-label rollable flexlarge align-left" data-label="teams">Teams</label>
  <input type="text" name="{{system.teams.value}}" value="{{system.teams.value}}" data-dtype="String"/>
</div>
<div class="personalInfo flexrow flex-group-center">
  <label for="system.history.value" class="resource-label rollable flexlarge align-left" data-label="history">History</label>
  <input type="text" name="{{system.history.value}}" value="{{system.history.value}}" data-dtype="String"/>
</div>
<div class="personalInfo flexrow flex-group-center">
  <label for="system.personality.value" class="resource-label rollable flexlarge align-left" data-label="personality">Personality</label>
  <input type="text" name="{{system.personality.value}}" value="{{system.personality.value}}" data-dtype="String"/>
</div>