<div class="personalInfo flexrow flex-group-center">
  <label for="system.realname" class="resource-reduced-label rollable align-left" data-label="Real Name">real name</label>
  <input type="text" name="system.realname" value="{{system.realname}}" data-dtype="String"/>
</div>
<div class="bio-sm grid grid-3col">
  <div>
    <label for="system.height" class="resource-reduced-label align-left" data-label="system.height">height</label>
    <input type="text" name="system.height" value="{{system.height}}" data-dtype="String"/>
  </div>
  <div>
    <label for="system.weight" class="resource-reduced-label align-left" data-label="system.weight">weight</label>
    <input type="text" name="system.weight" value="{{system.weight}}" data-dtype="String"/>
  </div>
  <div>
    <label for="system.gender" class="resource-reduced-label align-left" data-label="system.gender">gender</label>
    <input type="text" name="system.gender" value="{{system.gender}}" data-dtype="String"/>
  </div>
</div>
<div class="bio-sm grid grid-3col">
  <div>
    <label for="system.size" class="resource-reduced-label align-left" data-label="size">size</label>
    <div class="actor-size">{{system.size}}</div>
  </div>
  <div>
    <label for="system.eyes" class="resource-reduced-label align-left" data-label="system.eyes">eyes</label>
    <input type="text" name="system.eyes" value="{{system.eyes}}" data-dtype="String"/>
  </div>
  <div>
    <label for="system.hair" class="resource-reduced-label align-left" data-label="system.hair">hair</label>
    <input type="text" name="system.hair" value="{{system.hair}}" data-dtype="String"/>
  </div>
</div>
<div class="personalInfo flexrow flex-group-center">
  <label for="system.teams" class="resource-reduced-label rollable align-left" data-label="teams">teams</label>
  <input type="text" name="system.teams" value="{{system.teams}}" data-dtype="String"/>
</div>
<div class="personalInfo flexrow flex-group-center">
  <label class="resource-reduced-label rollable align-left">occupation</label>
  {{> "systems/marvel-multiverse/templates/actor/parts/actor-occupation.hbs"}}
</div>
<div class="personalInfo flexrow flex-group-center">
  <label class="resource-reduced-label rollable align-left">origin</label>
  {{> "systems/marvel-multiverse/templates/actor/parts/actor-origin.hbs"}}
</div>
<div class="personalInfo flexrow flex-group-center">
  <label class="resource-reduced-label rollable align-left">Base</label>
  <input type="text" name="system.base" value="{{system.base}}" data-dtype="String"/>
</div>

