<div class='resources'>
  {{#each powers as |powers powerSet|}}
    {{#if powers}}
      <div class="resource-powerset resource">
        <div class='item flexrow items-header'>
          <div class='item-name power-item'>
            {{localize 'MARVEL_MULTIVERSE.Item.Power.PowerSET' set=powerSet}}
          </div>
          <div class='item-controls'>
            <a
              class='item-control item-create'
              title='{{localize "DOCUMENT.Create" type='Power'}}'
              data-type='power'
              data-power-set='{{powerSet}}'
            >
              <i class='fas fa-plus'></i>
            </a>
          </div>
        </div>
        {{#each powers as |item id|}}
          <div class='item flexrow' data-item-id='{{item._id}}'>
            <div class='item-name power-item flexrow'>
              <h4><a class='rollable' data-roll-type='item'>{{item.name}}</a></h4>
            </div>
            <div class='item-controls'>
              <a
                class='item-control item-edit'
                title='{{localize "DOCUMENT.Edit" type='power'}}'
              >
                <i class='fas fa-edit'></i>
              </a>
              <a
                class='item-control item-delete'
                title='{{localize "DOCUMENT.Delete" type='power'}}'
              >
                <i class='fas fa-trash'></i>
              </a>
            </div>
          </div>
        {{/each}}
      </div>
    {{/if}}
  {{/each}}
</ol>