<ol class='items-list weapon-list'>
  <li class='item flexrow items-header'>
    <div class='item-name'>{{localize 'Name'}}</div>
    <div class='item-formula'>{{localize 'Roll Formula'}}</div>
    <div class='item-controls'>
      <a
        class='item-control item-create'
        title='{{localize "DOCUMENT.Create" type='Weapon'}}'
        data-type='item'
      >
        <i class='fas fa-plus'></i>
        {{localize 'DOCUMENT.New' type='weapon'}}
      </a>
    </div>
  </li>
  {{#each gear as |weapon|}}
    <li class='item weapon flexrow' data-weapon-id='{{item._id}}'>
      <div class='item-name weapon-name'>
        <div class='item-image'>
          <a class='rollable' data-roll-type='weapon'>
            <img
              src='{{weapon.img}}'
              title='{{weapon.name}}'
              width='24'
              height='24'
            />
          </a>
        </div>
        <h4>{{weapon.name}}</h4>
      </div>
      <div class='item-formula item-prop'>{{weapon.system.formula}}</div>
      <div class='item-controls weapon-controls'>
        <a
          class='item-control item-edit'
          title='{{localize "DOCUMENT.Update" type='Weapon'}}'
        >
          <i class='fas fa-edit'></i>
        </a>
        <a
          class='item-control item-delete'
          title='{{localize "DOCUMENT.Delete" type='Weapon'}}'
        >
          <i class='fas fa-trash'></i>
        </a>
      </div>
    </li>
  {{/each}}
</ol>