<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="header-fields">
      <div class="flexrow -gap-md">
        <div class="flexcol -gap-sm -space-between">
          {{!-- Portrait --}}
          <div class="mm-hero-portrait-block">
            <div class="mm-hero-portrait">
              <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
            </div>
            {{!-- Rank & Karma --}}
            <div class="mm-rank-block">
              <label class="mm-label" for="system.attributes.rank.value"><span>Rank</span></label>
              <div class="mm-input">
                <input type="number" name="system.attributes.rank.value" value="{{system.attributes.rank.value}}" data-dtype="Number"/>
              </div>
            </div>
            <div class="mm-karma-block">
              <label class="mm-label" for="system.karma.value"><span>Karma</span></label>
              <div class="mm-input">
                <input type="number" name="system.karma.value" value="{{system.karma.value}}" data-dtype="Number"/>
                <input type="hidden" name="system.karma.max" value="{{system.karma.value}}"/>
              </div>
            </div>
          </div>
          {{!-- Damage --}}
          <div class="mm-styled-container mm-damage-block">
            <h3>Damage</h3>
            <ul class="mm-styled-container-body mm-damage-rows">
              <li>
                <h6>Melee</h6>
                <div class="mm-damage-multiply">
                  <img src="systems/marvel-multiverse/icons/marvel-1.svg" title="MARVEL_MULTIVERSE.MarvelResult.M" alt="">
                  <span>x</span>
                  <span>{{system.abilities.mle.damageMultiplier}}</span>
                </div>
                <span>+</span>
                <div class="mm-damage-addition">
                  {{system.abilities.mle.value}}
                </div>
              </li>
              <li>
                <h6>Agility</h6>
                <div class="mm-damage-multiply">
                  <img src="systems/marvel-multiverse/icons/marvel-1.svg" title="MARVEL_MULTIVERSE.MarvelResult.M" alt="">
                  <span>x</span>
                  <span>{{system.abilities.agl.damageMultiplier}}</span>
                </div>
                <span>+</span>
                <div class="mm-damage-addition">
                  {{system.abilities.agl.value}}
                </div>
              </li>
              <li>
                <h6>Ego</h6>
                <div class="mm-damage-multiply">
                  <img src="systems/marvel-multiverse/icons/marvel-1.svg" title="MARVEL_MULTIVERSE.MarvelResult.M" alt="">
                  <span>x</span>
                  <span>{{system.abilities.ego.damageMultiplier}}</span>
                </div>
                <span>+</span>
                <div class="mm-damage-addition">
                  {{system.abilities.ego.value}}
                </div>  
              </li>
              <li>
                <h6>Logic</h6>
                <div class="mm-damage-multiply">
                  <img src="systems/marvel-multiverse/icons/marvel-1.svg" title="MARVEL_MULTIVERSE.MarvelResult.M" alt="">
                  <span>x</span>
                  <span>{{system.abilities.log.damageMultiplier}}</span>
                </div>
                <span>+</span>
                <div class="mm-damage-addition">
                  {{system.abilities.log.value}}
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="flexcol -static-children -gap-sm -space-between">
          <div class="flexrow -nowrap -gap-sm">
            <div class="mm-styled-field -flex-relative">
              <label class="mm-styled-label -align-left" for="name"><span>Codename</span></label>
              <div class="mm-styled-input">
                <input name="name" type="text" value="{{actor.name}}" placeholder="Codename"/>
              </div>
            </div>
            <div class="mm-styled-field -flex-relative">
              <label class="mm-styled-label -align-right"><span>Team Maneuver</span></label>
              <div class="mm-styled-input team-maneuver">
                <select name="system.teamManeuver.maneuverType">
                  {{selectOptions teamManeuverTypes selected=system.teamManeuver.maneuverType labelAttr="label" blank=""}}
                </select>
                <select name="system.teamManeuver.level">
                  {{selectOptions teamManeuverLevels selected=system.teamManeuver.level}}
                </select>
              </div>
            </div>
          </div>
          <div class="flexrow -gap-sm">
            {{!-- Health & Health DR --}}
            <div class="flexrow -relative">
              <div class="mm-stat-block">
                <label class="mm-label" for="system.health.value">Health</label>
                <div class="flexcol mm-input -static-children">
                  <input type="number" name="system.health.value" value="{{system.health.value}}" data-dtype="Number"/>
                  <hr />
                  <input type="number" name="system.health.max" value="{{system.health.max}}" data-dtype="Number"/>
                </div>
              </div>
              <div class="mm-stat-corner-block">
                <label class="mm-label -sm" for="system.health.damage-reduction">Damage Reduction</label>
                <div class="mm-input">
                  {{#if (gt system.healthDamageReduction 0)}}-{{/if}}{{system.healthDamageReduction}}
                </div>
              </div>
            </div>
            {{!-- Focus & Focus DR --}}
            <div class="flexrow -relative">
              <div class="mm-stat-block -focus">
                <label class="mm-label" for="system.focus.value">Focus</label>
                <div class="flexcol mm-input -static-children">
                  <input type="number" name="system.focus.value" value="{{system.focus.value}}" data-dtype="Number"/>
                  <hr />
                  <input type="number" name="system.focus.max" value="{{system.focus.max}}" data-dtype="Number"/>
                </div>
              </div>
              <div class="mm-stat-corner-block">
                <label class="mm-label -sm" for="system.health.damage-reduction">Damage Reduction</label>
                <div class="mm-input">
                  {{#if (gt system.focusDamageReduction 0)}}-{{/if}}{{system.focusDamageReduction}}
                </div>
              </div>
            </div>
            {{!-- Speed & Initative --}}
            <div class="flexrow -relative">
              <div class="mm-stat-block">
                <label class="mm-label" for="system.speed">Speed</label>
                <div class="mm-speed-fields">
                  {{#each system.movement as |mvmnt|}}
                    {{#if mvmnt.active }}
                      <div class="flexrow -gap-sm">
                        <span>{{mvmnt.label}}:</span><span>{{mvmnt.value}}</span>
                      </div>
                    {{/if}}
                  {{/each}}
                </div>
              </div>
              <div class="mm-stat-corner-block rollable roll-initiative" data-action="rollInitiative">
                <label class="mm-label -sm">Initative</label>
                <div class="mm-input">
                  {{system.attributes.init.value}} {{#if system.attributes.init.edge }}<span>E</span>{{/if}}
                </div>
              </div>
            </div>
          </div>
          {{!-- Abilities --}}
          <div class="flexrow mm-styled-container mm-abilities-block">
            <h3>Abilities</h3>
            <ul class="mm-styled-container-body mm-ability-rows">
              <li>
                <div></div>
                <div>Ability Score</div>
                <div>Defense Score</div>
                <div>Non-Combat<br />Checks</div>
              </li>
              {{#each system.abilities as |ability key|}}
                <li>
                  <div class="mm-ability-name rollable" data-formula="{1d6,1dm,1d6}+@abilities.{{key}}.value" data-label="{{ability.label}}">
                    {{#if (eq key "mle")}}
                      Melee
                    {{else if (eq key "agl")}}
                      Agility
                    {{else if (eq key "res")}}
                      Resilience
                    {{else if (eq key "vig")}}
                      Vigilance
                    {{else if (eq key "ego")}}
                      Ego
                    {{else if (eq key "log")}}
                      Logic
                    {{/if}}
                  </div>
                  <div>
                    <input type="number" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
                  </div>
                  <div>
                    <div>{{ability.defense}}</div>
                  </div>
                  <div>
                    <span class="rollable" data-formula="{1d6,1dm,1d6}+@abilities.{{key}}.noncom" data-label="{{ability.label}}">{{numberFormat ability.noncom decimals=0 sign=true}}</span>
                  </div>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs mm-tabs -three" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <div class="sheet-tabs-wrapper">
      <a class="item active" data-tab="abilities">Abilities</a>
      <a class="item" data-tab="biography">Biography</a>
      <a class="item" data-tab="gear">Gear & Weapons</a>
    </div>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Powers + Traits & Tags --}}
    <div class="tab" data-group="primary" data-tab="abilities">

      <div class="flexrow -gap-sm -nowrap">
        {{!-- Powers --}}
        <div class="mm-styled-container mm-powers-block">
          <h3>Powers</h3>
          <div class="mm-styled-container-body">
            <div class="mm-styled-field -sm">
              <label class="mm-styled-label -align-left"><span>Default Element</span></label>
              <div class="mm-styled-input">
                <select name="system.defaultElement">
                  {{selectOptions elements selected=system.defaultElement labelAttr="label" blank=""}}
                </select>
              </div>
            </div>
            {{> "systems/marvel-multiverse/templates/actor/parts/actor-powers.hbs"}}
          </div>
        </div>
        {{!-- Traits & Tags --}}
        <div class="mm-styled-container mm-traitstags-block">
          <h3>Traits & Tags</h3>
          <div class="mm-styled-container-body">
            {{> "systems/marvel-multiverse/templates/actor/parts/actor-traits.hbs"}}
            {{> "systems/marvel-multiverse/templates/actor/parts/actor-tags.hbs"}}
          </div>
        </div>
      </div>
    </div>

    {{!-- Biography --}}
    <div class="tab items" data-group="primary" data-tab="biography">
      <div class="mm-bio-block">
        {{!-- Character Details --}}
        <div class="flexcol -static-children">
           {{> "systems/marvel-multiverse/templates/actor/parts/actor-details.hbs"}}
        </div>
        {{> "systems/marvel-multiverse/templates/actor/parts/actor-biography.hbs"}}
      </div>
    </div>

    {{!-- Gear --}}
    <div class="tab gear" data-group="primary" data-tab="gear">
      <div class="mm-styled-container mm-gear-block">
        <h3>Gear</h3>
        <div class="mm-styled-container-body">
          {{> "systems/marvel-multiverse/templates/actor/parts/actor-weapons.hbs"}}
          {{> "systems/marvel-multiverse/templates/actor/parts/actor-items.hbs"}}
        </div>
      </div>

    </div>
  </section>
</form>

{{log system}}

