<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item active" data-tab="abilities">Abilities</a>
    <a class="item" data-tab="biography">Biography</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="header-fields">
      <div class="resources flexrow">
         {{!-- Name & Portrait --}}
        <div class="resource flex-group-center">
          <aside class="sidebar">
            <h2 class="charname personalInfo"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h2>
            <img class="character-portrait" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>              
          </aside>
        </div>

        <div class="flexrcol">
          {{!-- Rank & Karma --}}
          <div class="attribute-resources resource-block flexrow">
            <div class="resource flex-group-center">
              <label for="system.attributes.rank.value" class="resource-label">Rank</label>
              <div class="resource-content flexcol attributes attributes-rank">
                <input type="text" name="system.attributes.rank.value" value="{{system.attributes.rank.value}}" data-dtype="Number"/>
              </div>
            </div>
            <div class="resource flex-group-center">
              <label for="system.karma.value" class="resource-label">Karma</label>
              <div class="resource-content flexcol attributes attributes-karma">
                <input type="text" name="system.karma.value" value="{{system.karma.value}}" data-dtype="Number"/>
              </div>
            </div>
          </div>
          {{!-- Health & Health DR --}}
          <div class="attribute-resources resource-block flexrow">
            <div class="resource flex-group-center">
              <label for="system.health.value" class="resource-label">Health</label>
              <div class="resource-content flexcol attributes attributes-health">
                <input type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number"/>
              </div>
            </div>
            <div class="resource flex-group-center">
              <label for="system.health.damage-reduction" class="resource-reduced-label">Damage Reduction</label>
              <div class="resource-content flexcol damage-reduction">
                <h3>{{system.healthDamageReduction}}</h3>
              </div>
            </div>
          </div>
          {{!-- Focus & Focus DR --}}
          <div class="attribute-resources resource-block flexrow">
            <div class="resource flex-group-center">
              <label for="system.focus.value" class="resource-label">Focus</label>
              <div class="resource-content flexcol attributes attributes-focus">
                <input type="text" name="system.focus.value" value="{{system.focus.value}}" data-dtype="Number"/>
              </div>
            </div>
            <div class="resource flex-group-center">
              <label for="system.health.damage-reduction" class="resource-reduced-label">Damage Reduction</label>
              <div class="resource-content flexcol damage-reduction">
                <h3>{{system.focusDamageReduction}}</h3>
              </div>
            </div>
          </div>
          {{!-- Speed & Initative --}}
          <div class="attribute-resources resource-block flexrow">
            <div class="resource flex-group-center">
              <label for="system.speed" class="resource-label">Speed</label>
              <div class="resource-content flexcol attributes-speed">
                <div class="flexcol">
                  {{#each system.movement as |mvmnt|}}
                    {{#if mvmnt.active }}
                      <div class="flexrow">
                        <div class="resource">{{mvmnt.label}}</div> <div class="resource">{{mvmnt.value}}</div>
                      </div>
                    {{/if}}
                  {{/each}}
                </div>
              </div>
            </div>
            <div class="resource rollable flex-group-center" data-roll="{1d6,1dm,1d6}+@abilities.vig.mod">
              <label class="resource-reduced-label">Initative</label>
              <div class="resource-content flexcol attributes-init">
                <h3>{{system.abilities.vig.value}}</h3>
              </div>
            </div>
          </div>
         
        </div> 

        {{!-- Character Details --}}
        <div class="resource flex-group-center actor-details">
           {{> "systems/marvel-multiverse/templates/actor/parts/actor-details.hbs"}}
        </div>
      </div>
    </div>  
  </header>


  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Abilities, Damages, & powers Tab --}}
    <div class="tab abilities flexrow" data-group="primary" data-tab="abilities">
       {{!-- Abilities and damages --}}
      <section class="resources">
        <div class="ability-resources resources resource-block flexcol">
          <h3>Abilities</h3>
          <ol class="items-list">
            <li class="item resource flexrow items-header">
              <div>Ability</div>
              <div class="ability-score">Score</div>
              <div class="ability-defense">Defense</div>
              <div class="ability-noncom">Noncom</div>
            </li>
            {{#each system.abilities as |ability key|}}
              <li class="item resource ability flexrow flex-group-center">
                <div class="resource rollable" data-roll="{1d6,1dm,1d6}+@abilities.{{key}}.mod" data-label="{{ability.label}}">{{numberFormat ability.mod decimals=0 sign=true}}>
                  <div>{{key}}</div>
                </div>  
                <div class="resource">
                  <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
                </div>
                <div class="resource">
                  <div>{{ ability.defense }}</div>
                </div>
                <div class="resource">
                    <span class="ability-mod rollable" data-roll="{1d6,1dm,1d6}+@abilities.{{key}}.mod" data-label="{{ability.label}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
                </div>
              </li>
            {{/each}}
          </ol>
        </div>
        <div class="damages-resources resource-block resources flexcol">
          <h3>Damages</h3>
          <ol class="items-list">
            <li class='item resource meleeDamages flexrow' data-item-id='{{item._id}}'>
              <div class="melee-damage resource">
                <div class="resource-reduced-label vert-text">Melee</div>
                <img src="systems/marvel-multiverse/icons/marvel-1.svg" title="MARVEL_MULTIVERSE.MarvelResult.M" alt="">
              </div>
              <div class="resource">
                <h3>x {{system.attributes.rank.value}}</h3>
              </div>
              <div class="resource">
                <h3>+ {{system.abilities.mle.value}}</h3>
              </div>
            </li>
            <li class='item resource agilityDamages flexrow' data-item-id='{{item._id}}'>
              <div class="resource">
                <div class="resource-reduced-label vert-text">Agility</div>
                <img src="systems/marvel-multiverse/icons/marvel-1.svg" title="MARVEL_MULTIVERSE.MarvelResult.M" alt="">
              </div>
              <div class="resource">
                <h3>x {{system.attributes.rank.value}}</h3>
              </div>
              <div class="resource">
                <h3>+ {{system.abilities.agl.value}}</h3>
              </div>
            </li>
            <li class="item resource egoDamages flexrow">
              <div class="resource">
                <div class="resource-reduced-label vert-text">Ego</div>
                <img src="systems/marvel-multiverse/icons/marvel-1.svg" title="MARVEL_MULTIVERSE.MarvelResult.M" alt="">
              </div>
              <div class="resource">
                <h3>x {{system.attributes.rank.value}}</h3>
              </div>
              <div class="resource">
                <h3>+ {{system.abilities.ego.value}}</h3>
              </div>
            </li>
            <li class="item resource logicDamages flexrow">
              <div class="resource">
                <div class="resource-reduced-label vert-text">Logic</div> 
                <img src="systems/marvel-multiverse/icons/marvel-1.svg" title="MARVEL_MULTIVERSE.MarvelResult.M" alt="">
              </div>
              <div class="resource">
                <h3>x {{system.attributes.rank.value}}</h3>
              </div>
              <div class="resource">
                <h3>+ {{system.abilities.log.value}}</h3>
              </div>            
            </li>
          </ol> 
        </div>
      </section>
      {{!-- Traits, Tags & Powers --}}
      <section class="traits-tags-powers">
        <div class="trait-tag-power-resources resource-block flexcol">
          <h3>Traits & Tags</h3>
          <div class="resources flexrow">
            <div class="actor-traits resource flexcol">
              {{> "systems/marvel-multiverse/templates/actor/parts/actor-traits.hbs"}}
            </div>
            <div class="actor-tags resource flexcol">
              {{> "systems/marvel-multiverse/templates/actor/parts/actor-tags.hbs"}}
            </div>
          </div>
          <section class="resources actor-powers">
            <h3>Powers</h3>
            {{> "systems/marvel-multiverse/templates/actor/parts/actor-powers.hbs"}}
          </section>
        </div>
      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="biography">
        {{> "systems/marvel-multiverse/templates/actor/parts/actor-biography.hbs"}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
        {{> "systems/marvel-multiverse/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/marvel-multiverse/templates/actor/parts/actor-effects.hbs"}}
    </div>

  </section>
</form>

{{log system}}

