<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="header-fields">
      <div class="flexrow -gap-sm">
         {{!-- Portrait --}}
        <div class="flexcol -gap-sm -space-between">
          <div class="mm-hero-portrait-container">
            <div class="mm-hero-portrait">
              <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
            </div>
            {{!-- Rank & Karma --}}
            <div class="mm-rank-container">
              <label class="mm-label" for="system.attributes.rank.value"><span>Rank</span></label>
              <div class="mm-field">
                <input type="number" name="system.attributes.rank.value" value="{{system.attributes.rank.value}}" data-dtype="Number"/>
              </div>
            </div>
             <div class="mm-karma-container">
              <label class="mm-label" for="system.karma.value"><span>Karma</span></label>
              <div class="mm-field">
                <input type="number" name="system.karma.value" value="{{system.karma.value}}" data-dtype="Number"/>
                <input type="hidden" name="system.karma.max" value="{{system.karma.value}}"/>
              </div>
            </div>
          </div>
          {{!-- Damage --}}
          <div class="mm-damage-container">
            <h3>Damage</h3>
            <ul class="mm-damage-rows">
              <li>
                <h6>Melee</h6>
                <div class="mm-damage-multiply">
                  <img src="systems/marvel-multiverse/icons/marvel-1.svg" title="MARVEL_MULTIVERSE.MarvelResult.M" alt="">
                  <span>x</span>
                  <span>{{system.abilities.mle.damageMultiplier}}</span>
                </div>
                <span>+</span>
                <div class="mm-damage-addition">
                  {{system.abilities.mle.value}}
                </div>
              </li>
              <li>
                <h6>Agility</h6>
                <div class="mm-damage-multiply">
                  <img src="systems/marvel-multiverse/icons/marvel-1.svg" title="MARVEL_MULTIVERSE.MarvelResult.M" alt="">
                  <span>x</span>
                  <span>{{system.abilities.agl.damageMultiplier}}</span>
                </div>
                <span>+</span>
                <div class="mm-damage-addition">
                  {{system.abilities.agl.value}}
                </div>
              </li>
              <li>
                <h6>Ego</h6>
                <div class="mm-damage-multiply">
                  <img src="systems/marvel-multiverse/icons/marvel-1.svg" title="MARVEL_MULTIVERSE.MarvelResult.M" alt="">
                  <span>x</span>
                  <span>{{system.abilities.ego.damageMultiplier}}</span>
                </div>
                <span>+</span>
                <div class="mm-damage-addition">
                  {{system.abilities.ego.value}}
                </div>
              </li>
              <li>
                <h6>Logic</h6>
                <div class="mm-damage-multiply">
                  <img src="systems/marvel-multiverse/icons/marvel-1.svg" title="MARVEL_MULTIVERSE.MarvelResult.M" alt="">
                  <span>x</span>
                  <span>{{system.abilities.log.damageMultiplier}}</span>
                </div>
                <span>+</span>
                <div class="mm-damage-addition">
                  {{system.abilities.log.value}}
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="flexcol -static-children -gap-sm -space-between">
          <div class="mm-codename-container mm-styled-container">
            <label class="mm-styled-label -align-left" for="name"><span>Codename</span></label>
            <div class="mm-styled-field">
              <input name="name" type="text" value="{{actor.name}}" placeholder="Codename"/>
            </div>
          </div>
          <div class="flexrow -gap-sm">
            {{!-- Health & Health DR --}}
            <div class="flexrow -relative">
              <div class="mm-health-container">
                <label class="mm-label" for="system.health.value">Health</label>
                <div class="flexcol mm-field -static-children">
                  <input type="number" name="system.health.value" value="{{system.health.value}}" data-dtype="Number"/>
                  <hr />
                  <input type="number" name="system.health.max" value="{{system.health.max}}" data-dtype="Number"/>
                </div>
              </div>
              <div class="mm-dr-container">
                <label class="mm-label -sm" for="system.health.damage-reduction">Damage Reduction</label>
                <div class="mm-field">
                  -{{system.healthDamageReduction}}
                </div>
              </div>
            </div>
            {{!-- Focus & Focus DR --}}
            <div class="flexrow -relative">
              <div class="mm-focus-container">
                <label class="mm-label" for="system.focus.value">Focus</label>
                <div class="flexcol mm-field -static-children">
                  <input type="number" name="system.focus.value" value="{{system.focus.value}}" data-dtype="Number"/>
                  <hr />
                  <input type="number" name="system.focus.max" value="{{system.focus.max}}" data-dtype="Number"/>
                </div>
              </div>
              <div class="mm-dr-container">
                <label class="mm-label -sm" for="system.health.damage-reduction">Damage Reduction</label>
                <div class="mm-field">
                  -{{system.focusDamageReduction}}
                </div>
              </div>
            </div>
            {{!-- Speed & Initative --}}
            <div class="flexrow -relative">
              <div class="mm-speed-container">
                <label class="mm-label" for="system.speed">Speed</label>
                <div class="mm-speed-fields">
                  {{#each system.movement as |mvmnt|}}
                    {{#if mvmnt.active }}
                      <div class="flexrow -gap-sm">
                        <span>{{mvmnt.label}}:</span><span>{{mvmnt.value}}</span>
                      </div>
                    {{/if}}
                  {{/each}}
                </div>
              </div>
              <div class="mm-initiative-container rollable roll-initiative" data-action="rollInitiative">
                <label class="mm-label -sm">Initative</label>
                <div class="mm-field">
                  {{system.attributes.init.value}} {{#if system.attributes.init.edge }}<span>E</span>{{/if}}
                </div>
              </div>
            </div>
          </div>
          {{!-- Abilities --}}
          <div class="flexrow mm-abilities-container">
            <h3>Abilities</h3>
            <ul class="mm-ability-rows">
              <li>
                <div></div>
                <div>Ability Score</div>
                <div>Defense Score</div>
                <div>Non-Combat<br />Checks</div>
              </li>
              {{#each system.abilities as |ability key|}}
                <li>
                  <div class="mm-ability-name rollable" data-roll="{1d6,1dm,1d6}+@abilities.{{key}}.value" data-label="{{ability.label}}">
                    {{#if (eq key "mle")}}
                      Melee
                    {{else if (eq key "agl")}}
                      Agility
                    {{else if (eq key "res")}}
                      Resilience
                    {{else if (eq key "res")}}
                      Resilience
                    {{else if (eq key "vig")}}
                      Vigilance
                    {{else if (eq key "ego")}}
                      Ego
                    {{else if (eq key "log")}}
                      Logic
                    {{/if}}
                  </div>
                  <div>
                    <input type="number" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
                  </div>
                  <div>
                    <div>{{ability.defense}}</div>
                  </div>
                  <div>
                    <span class="rollable" data-roll="{1d6,1dm,1d6}+@abilities.{{key}}.noncom" data-label="{{ability.label}}">{{numberFormat ability.noncom decimals=0 sign=true}}</span>
                  </div>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <div class="sheet-tabs-wrapper">
    <a class="item active" data-tab="powersgear">Powers & Gear</a>
    <a class="item" data-tab="traitstags">Traits & Tags</a>
    <a class="item" data-tab="biography">Biography</a>
    </div>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Abilities, Damages, & powers Tab --}}
    <div class="tab" data-group="primary" data-tab="powersgear">
      {{!-- Traits, Tags & Powers --}}
      <div class="flexrow -gap-sm -nowrap">
        <div class="mm-powers-container">
          <h3>Powers</h3>
          <div class="mm-powers-list">
            {{> "systems/marvel-multiverse/templates/actor/parts/actor-powers.hbs"}}
            <span class="header-control">
              <label>Default Element</label>
              <select name="system.defaultElement">
                {{selectOptions elements selected=system.defaultElement labelAttr="label" blank=""}}
              </select>
            </span>
          </div>
        </div>
        <div class="mm-gear-container">
          <h3>Gear</h3>
          <div class="mm-gear-list">
            <section class="resources actor-weapons">
              {{> "systems/marvel-multiverse/templates/actor/parts/actor-weapons.hbs"}}
            </section>
            <section class="resources actor-items">
              {{> "systems/marvel-multiverse/templates/actor/parts/actor-items.hbs"}}
            </section>
          </div>
        </div>
      </div>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="traitstags">
        {{!-- Character Details --}}
        <div class="flexcol -static-children">
           {{> "systems/marvel-multiverse/templates/actor/parts/actor-details.hbs"}}
        </div>
        {{> "systems/marvel-multiverse/templates/actor/parts/actor-biography.hbs"}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="biography">
      <h3>Traits & Tags</h3>
      <div class="resources flexrow">
        <div class="actor-traits resource flexcol">
          {{> "systems/marvel-multiverse/templates/actor/parts/actor-traits.hbs"}}
        </div>
        <div class="actor-tags resource flexcol">
          {{> "systems/marvel-multiverse/templates/actor/parts/actor-tags.hbs"}}
        </div>
      </div>
    </div>
  </section>
</form>

{{log system}}

