<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="header-fields">
      <div class="resources flexrow">
        <div class="resource flex-group-center">
          <aside class="sidebar">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
            <img class="character-portrait" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
            <div class="abilities flexcol">
              <h2>Abilities</h2>
              {{#each system.abilities as |ability key|}}
                <div class="ability flexrow flex-group-center">
                  <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
                  <label for="system.abilities.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="{1d6,1dm,1d6}+@abilities.{{key}}.mod" data-label="{{ability.label}}">{{ability.label}}</label>
                  
                  <span class="ability-mod rollable" data-roll="{1d6,1dm,1d6}+@abilities.{{key}}.mod" data-label="{{ability.label}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
                </div>
              {{/each}}
            </div>
          </aside>
        </div>
        <div class="flexrcol">
          <div class="attribute-resources flexrow">
            <div class="resource flex-group-center">
              <label for="system.attributes.rank.value" class="resource-reduced-label">Rank</label>
              <div class="resource-content flexcol attributes attributes-rank">
                <input type="text" name="system.attributes.rank.value" value="{{system.attributes.rank.value}}" data-dtype="Number"/>
              </div>
            </div>
            <div class="resource flex-group-center">
              <label for="system.karma.value" class="resource-reduced-label">Karma</label>
              <div class="resource-content flexcol attributes attributes-karma">
                <input type="text" name="system.karma.value" value="{{system.karma.value}}" data-dtype="Number"/>
              </div>
            </div>
          </div>
         
          <div class="attribute-resources flexrow">
            <div class="resource flex-group-center">
              <label for="system.health.value" class="resource-reduced-label">Health</label>
              <div class="resource-content flexcol attributes attributes-health">
                <input type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number"/>
              </div>
            </div>
            <div class="resource flex-group-center">
              <label for="system.health.damage-reduction" class="resource-reduced-label">Damage Reduction</label>
              <div class="resource-content flexcol damage-reduction">
                <h1>{{system.health.value}}</h1>
              </div>
            </div>
          </div>

          <div class="attribute-resources flexrow">
            <div class="resource flex-group-center">
              <label for="system.focus.value" class="resource-reduced-label">Focus</label>
              <div class="resource-content flexcol attributes attributes-focus">
                <input type="text" name="system.focus.value" value="{{system.focus.value}}" data-dtype="Number"/>
              </div>
            </div>
            <div class="resource flex-group-center">
              <label for="system.health.damage-reduction" class="resource-reduced-label">Damage Reduction</label>
              <div class="resource-content flexcol damage-reduction">
                <h1>{{system.focus.value}}</h1>
              </div>
            </div>
          </div>
                    
          <div class="attribute-resources flexrow">
            <div class="resource flex-group-center">
              <label for="system.focus.value" class="resource-reduced-label">Speed</label>
              <div class="resource-content flexcol attributes-speed">
                <ol>
                  <li>Run </li>
                  <li>Climb</li>
                  <li>Swim</li>
                  <li>Swim</li>
                </ol>
              </div>
            </div>
            <div class="resource flex-group-center">
              <label class="resource-reduced-label">Initative</label>
              <div class="resource-content flexcol attributes-init">
                <h2>{{system.focus.value}}</h2>
              </div>
            </div>
          </div>
          <div class="attribute-resources">
            <label class="resource-reduced-label">Traits</label>
            {{> "systems/marvel-multiverse/templates/actor/parts/actor-traits.hbs"}}
          </div>
          <div class="attribute-resources">
            <label class="resource-reduced-label">Tags</label>
            {{> "systems/marvel-multiverse/templates/actor/parts/actor-tags.hbs"}}
          </div>
        </div> 
        <div class="resource flex-group-center">
           Biography
           {{> "systems/marvel-multiverse/templates/actor/parts/actor-details.hbs"}}
        </div>
      </div>
    </div>  
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="traits">Stats</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Traits Tab --}}
    <div class="tab traits" data-group="primary" data-tab="traits">
      <section class="flexrow">
      
        {{!-- For the main traits list, span the right two columns --}}
        <section class="powers">
          {{> "systems/marvel-multiverse/templates/actor/parts/actor-powers.hbs"}}
        </section>

      </section>
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/marvel-multiverse/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/marvel-multiverse/templates/actor/parts/actor-effects.hbs"}}
    </div>

  </section>
</form>

{{log system}}

