<menu class="marvel-multiverse retro-edge">
    <button type="button" data-retro-action="trble" {{disabled trble}}>{{localize "MARVEL_MULTIVERSE.edgeMode.trouble"}}</button>
    <button type="button" data-retro-action="norm" {{disabled norm}}>{{localize "MARVEL_MULTIVERSE.edgeMode.normal"}}</button>
    <button type="button" data-retro-action="edge" {{disabled edge}}>{{localize "MARVEL_MULTIVERSE.edgeMode.edge"}}</button>
</menu>