{{#if parts.length}}
    <div class="dice-tooltip">
        {{#each parts}}
            <section class="tooltip-part">
                <div class="dice">
                    <ol class="dice-rolls">
                        {{#each rolls}}
                            <li class="roll {{ classes }}">
                                <span data-action="chat-select-die" data-die-index="{{ @index }}" class="roll">
                                    {{#if @root.isPrivate}}?{{else}}
                                        {{ result }}
                                    {{/if}}
                                </span>
                            </li>
                        {{/each}}
                    </ol>
                    <div class="reroll-buttons">
                        <button class="retroEdgeMode roll-edge" data-retro-action="edge" data-index="{{@index}}" title="EDGE">
                            edge
                        </button>
                        <button class="retroEdgeMode roll-trouble" data-retro-action="trouble" data-index="{{@index}}" title="TROUBLE">
                            trouble
                        </button>
                    </div>
                </div>
            </section>
        {{/each}}
    </div>
{{/if}}
