<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">Attributes</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Attributes Tab --}}
    <div class="tab power-attributes" data-group="primary" data-tab="attributes">
      {{!-- As you add new fields, add them in here! --}}
      {{#if system.isElemental }}
        <div class="resource">
          <label class="resource-label">Element</label>
          <select name="system.element">
            {{selectOptions elements selected=selectedElement labelAttr="label" blank=""}}
          </select>
        </div>
      {{/if}}
      <div class="resource">
        <label for="system.description" class="resource-reduced-label rollable align-left" data-label="description">Description</label>
        {{editor system.description target="system.description" button=false engine="prosemirror" collaborate=false}}
      </div>
      <div class="resource">
        <label for="system.effect" class="resource-reduced-label rollable align-left" data-label="effect">Effect</label>
        {{editor system.effect target="system.effect" button=false engine="prosemirror" collaborate=false}}
      </div>
      <div class="resource">
        <label class="resource-label">Power Set</label>
        <input type="text" name="system.powerSet" value="{{system.powerSet}}" data-dtype="String"/>
      </div>
      <div class="resource">
        <label class="resource-label">prerequisites</label>
        <input type="text" name="system.prerequisites" value="{{system.prerequisites}}" data-dtype="String"/>
      </div>
      <div class="resource">
        <label class="resource-label">action</label>
        <input type="text" name="system.action" value="{{system.action}}" data-dtype="String"/>
      </div>
      <div class="resource">
        <label class="resource-label">trigger</label>
        <input type="text" name="system.trigger" value="{{system.trigger}}" data-dtype="String"/>
      </div>
      <div class="resource">
        <label class="resource-label">duration</label>
        <input type="text" name="system.duration" value="{{system.duration}}" data-dtype="String"/>
      </div>
      <div class="resource">
        <label class="resource-label">range</label>
        <input type="text" name="system.range" value="{{system.range}}" data-dtype="String"/>
      </div>
      <div class="resource">
        <label class="resource-label">cost</label>
        <input type="text" name="system.cost" value="{{system.cost}}" data-dtype="String"/>
      </div>
      <div class="resource">
        <label class="resource-label">Attack Range</label>
        <input type="number" name="system.attackRange" value="{{system.attackRange}}" data-dtype="Number"/>
      </div>
      <div class="resource">
        <label class="resource-label">Attack Target</label>
        <input type="text" name="system.attackTarget" value="{{system.attackTarget}}" data-dtype="String"/>
      </div>
      <div class="resource">
        <label class="resource-label">Attack Multiplier</label>
        <input type="number" name="system.attackMultiplier" value="{{system.attackMultiplier}}" data-dtype="Number"/>
      </div>
      <div class="resource">
        <label class="resource-label">Attack Ability</label>
        <select name="system.attackAbility">
          {{selectOptions abilities selected=system.attackAbility labelAttr="label" blank=""}}
        </select>
      </div>
      <div class="resource">
        <label class="resource-label">Attack Kind</label>
        <select name="system.attackKind">
          {{selectOptions attackKinds selected=system.attackKind labelAttr="label" blank=""}}
        </select>
      </div>
      
      <div class="resource">
        <label class="resource-label">Attack Edge Mode</label>
        <select name="system.attackEdgeMode">
          {{selectOptions attackEdgeModes selected=system.attackEdgeMode labelAttr="label" blank=""}}
        </select>
      </div>
      
    </div>
    <div class="tab power-effects" data-group="primary" data-tab="effects">
       {{> "systems/marvel-multiverse/templates/item/parts/item-effects.hbs"}}
    </div>
  </section>
</form>
