<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">Attributes</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    
    {{!-- Attributes Tab --}}
    <div class="tab weapon-attributes" data-group="primary" data-tab="attributes">
      {{!-- As you add new fields, add them in here! --}}
      <div class="resource">
        <label for="system.description" class="resource-reduced-label rollable align-left" data-label="description">Description</label>
        <textarea name="system.description" data-dtype="String">{{system.description}}</textarea>
      </div>
      <div class="resource">
        <label class="resource-label">equipped</label>
        <input type="checkbox" id="equipped" name="system.equipped"  {{ checked system.equipped }}>
      </div>
      {{!-- As you add new fields, add them in here! --}}
      <div class="resource">
        <label class="resource-label">Roll Formula:</label>
        <span>{{system.formula}}</span>
        <div class="grid grid-4col">
          <div class="grid-span-1">
            <label class="resource-label">Number of Dice</label>
            <input type="text" name="system.roll.diceNum" value="{{system.roll.diceNum}}" data-dtype="Number" />
          </div>
          <div class="grid-span-1">
            <label class="resource-label">Die Size</label>
            <input type="text" name="system.roll.diceSize" value="{{system.roll.diceSize}}" data-dtype="String" />
          </div>
          <div class="grid-span-2">
            <label class="resource-label">Roll Modifier</label>
            <input type="text" name="system.roll.diceBonus" value="{{system.roll.diceBonus}}" data-dtype="String" />
          </div>
        </div>
      </div>

      <div class="resource">
        <label class="resource-label">Damage Multiplier Bonus</label>
        <input type="text" name="system.damageMultiplierBonus" value="{{system.damageMultiplierBonus}}" data-dtype="String"/>
      </div>
    </div>
    
    <div class="tab weapon-effects" data-group="primary" data-tab="effects">
       {{> "systems/marvel-multiverse/templates/item/parts/item-effects.hbs"}}
    </div>
  </section>

</form>
{{log system}}