<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">Attributes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    
    {{!-- Attributes Tab --}}
    <div class="tab tag-attributes" data-group="primary" data-tab="attributes">
      {{!-- As you add new fields, add them in here! --}}
      <div class="resource">
        <label for="system.description" class="resource-reduced-label rollable align-left" data-label="description">Description</label> 
        {{editor system.description target="system.description" button=false engine="prosemirror" collaborate=false}}
      </div>
      <div class="resource">
        <label class="resource-label">restriction</label>
        <input type="text" name="system.restriction" value="{{system.restriction}}" data-dtype="String"/>
      </div>
      <div class="resource">
        <label class="resource-label">rarity</label>
        <input type="text" name="system.rarity" value="{{system.rarity}}" data-dtype="String"/>
      </div>
    </div>
  </section>

</form>
